@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
* {
  outline:1px solid red;
}
.modal {
  display: none;
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;

  background-color: #FFF;
}
a {
  text-decoration: none;
}
.container {
  width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
}
.section-title {
  margin: 0;
  padding: 0;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000;
}
.btn-info {
  padding: 14px 25px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  background-image: url('../img/btn.png');
  background-repeat: repeat-x;
  background-position: center center;
  border: none;
}
.btn-info:hover {
  color: #000;
  background-color: #f0c52e;
}
.btn-info:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f0c52e;
}
.header {
  margin-bottom: -110px;
}
.header.inner-page {
  margin-bottom: 40px;
}
.header-inner{
  margin-top: 40px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 197, 46, 0.5);
}
.header-logo {
  margin-top: -24px;
  margin-bottom: 30px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}
.header-logo:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-logo:active {
  color: rgba(0, 0, 0, 0.3);
}
.header-action {
  display: flex;
  margin-bottom: 45px;
}
.header-action__search {
  width: 440px;
  margin-right: 100px;
}
.header-action__user {
  margin-right: 200px;
}
.header-action-right {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-left: auto;
}

.header-action__search input,
.header-action__search button{
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.header-action__search input[type="search"]::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }
.header-action__search input[type="search"]:-ms-input-placeholder { color: rgba(0, 0, 0, 0.3); }
.header-action__search input[type="search"]::-ms-input-placeholder { color: rgba(0, 0, 0, 0.3); }
.header-action__search input[type="search"]::placeholder { color: rgba(0, 0, 0, 0.3); }

.header-action__search input[type="search"]:hover::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6); }
.header-action__search input[type="search"]:hover:-ms-input-placeholder { color: rgba(0, 0, 0, 0.6); }
.header-action__search input[type="search"]:hover::-ms-input-placeholder { color: rgba(0, 0, 0, 0.6); }
.header-action__search input[type="search"]:hover::placeholder { color: rgba(0, 0, 0, 0.6); }

.header-action__search input[type="search"]:focus::-webkit-input-placeholder { color: #000; }
.header-action__search input[type="search"]:focus:-ms-input-placeholder { color: #000; }
.header-action__search input[type="search"]:focus::-ms-input-placeholder { color: #000; }
.header-action__search input[type="search"]:focus::placeholder { color: #000; }

.header-action__search input {
  color: #000;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.header-action__search input {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header-action__search input:focus {
  outline: 0;
  border-bottom: 2px solid #000;
  cursor: auto;
}
.header-action__search input:focus + button{
  opacity: 1;
}
.header-action__search button {
  margin-left: -4px;
  color: #000;
  border: 2px solid #000;
  background-color: inherit;
  opacity: 0;
}
.header-action__search button:hover {
  color: #FFF;
  background-color: #000;
}
.header-action__search button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #000;
}
.header-action__search button:focus {
  opacity: 1;
}
.header-action-nav a{
  color: #000;
}
.header-action-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-action-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}
.header-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 165px;
}
.header-navigation__catalog {
  width: 300px;
  margin-right: 240px;
}
.header-navigation__delivery {
  width: 160px;
}
.header-navigation__guarantee {
  width: 160px;
}
.header-navigation__contacts {
  width: 120px;
  margin-left: auto;
}
.header-navigation-item {
  list-style: none;
}
.header-navigation__catalog-item {
  list-style: none;
}
.header-navigation-item > a{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.header-navigation-item > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-navigation-item > a:active {
  color: rgba(0, 0, 0, 0.3);
}
.header-navigation__catalog-list {
  display: none;
}
.header-navigation__catalog-item > a{
  font-size: 15px;
  line-height: 36px;
  color: #000;
  text-transform: none;
}
.header-navigation__catalog-item > a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.header-navigation__catalog-item > a:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-inner {
  padding: 0 60px;
}
.main-slider {
  margin-bottom: 100px;
}
.main-slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-slider-item {
  display: flex;
  justify-content: space-between;
}
.about__transport-item {
  font-weight: 800;
  color: #000;
}
.main-slider-item__img {
  width: 560px;
}
.main-slider-right {
  width: 500px;
}
.main-slider-item__title a{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000;
}
.main-slider-item__features dt {
  font-size: 13px;
  line-height: 20px;
}
.main-slider-item__features dd {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #000;
}
.main-slider-switches {
  margin: 0;
  padding: 0;
  list-style: none;
}
.popular {
  margin-bottom: 180px;
}
.popular-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.popular-item {
  width: 160px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.popular-item:nth-child(6n) {
  margin-right: 0;
}
.popular-item__title {
  order: 1;
}
.popular-item__title a {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #000;
}
.popular-item__img {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 197, 46, 0.5);
}
.partners {
  margin-bottom: 100px;
}
.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.partners-item {
  width: 260px;
  margin-right: 40px;
}
.partners-item:nth-child(4n) {
  margin-right: 0;
}
.services {
  margin-bottom: 100px;
}
.services .container {
  display: flex;
}
.services-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px;
  margin-right: 100px;
}
.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 760px;
}
.btn-slide {
  padding: 14px 25px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: none;
  background-image: url('../img/btn.png');
  background-repeat: repeat-x;
  background-position: center center;
  border: none;
}
.btn-slide:hover {
  color: #000;
  background-color: #f0c52e;
}
.btn-slide:active {
  color: #f7e184;
  background-color: #000;
  background-image: none;
}
.breadcrumbs-item {
  list-style: none;
}
.breadcrumbs {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}
.breadcrumbs-current,
.breadcrumbs-item a {
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs-item a:active {
  color: rgba(0, 0, 0, 0.1);
}
.filter-bar {
  width: 200px;
}
.catalog-bar {
  width: 760px;
}
.filter {
  width: 200px;
}
.catalog {
  width: 760px;
}
.bar-columns {
  display: flex;
  justify-content: space-between;
}
.catalog-columns {
  display: flex;
  justify-content: space-between;
}
.filter-list {
  list-style: none;
}
.filter-item__title {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}
.filter-item__content input[type = "checkbox"] + span,
.filter-item__content input[type = "radio"] + span{
  font-size: 14px;
  line-height: 40px;
}
.filter-item__content input[type = "checkbox"][disabled] + span,
.filter-item__content input[type = "radio"][disabled] + span{
  color: #a6a6a6;
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  width: 360px;
  margin-bottom: 44px;
  margin-right: 40px;
  list-style: none;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-item__title a{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
}
.catalog-item__price {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
}
.catalog-item__img {
  position: relative;
  width: 360px;
  height: 380px;
  background-color: #EEE;
}
.catalog-item__img-overlay:hover{
  opacity: 0.7;
}
.catalog-item__img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 380px;
  opacity: 0;
  background-color: #EEE;
}
.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-compare {
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  background: none;
  border: none;
}
.btn-compare:hover {
  color: #000;
}
.btn-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.about-contacts .container {
  display: flex;
  justify-content: space-between;
}
.about {
  width: 475px;
}
.contacts {
  width: 560px;
}
.footer {
  margin-top: 100px;
  color: #FFF;
  background-color: #464646;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-top: 60px;
}
.footer-middle {
  margin-bottom: 45px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}
.footer-line {
  margin: 0;
  width: 80px;
}
.footer-social {
  margin: 0;
  padding: 0;
  width: 160px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.footer-copyright {
  margin: 0;
  width: 60px;
}
.footer-logo {
  width: 260px;
  font-family: Gilroy, Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  color: #ffc600;
  text-transform: uppercase;
}
.footer-logo:hover {
  color: rgba(255, 198, 0, 0.6)
}
.footer-logo:active {
  color: rgba(255, 198, 0, 0.3)
}
.footer-action {
  margin-left: auto;
}
.footer-action-nav a{
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7);
}
.footer-middle {
  display: flex;
}
.footer-address {
  width: 260px;
  margin-right: 100px;
}
.footer-navigation__list {
  margin: 0;
  padding: 0;
  width: 440px;
  display: flex;
  justify-content: space-between;
}
.footer-phone {
  width: 200px;
  margin-left: auto;
}
.footer-action-nav a:hover {
  color: #FFF;
}
.footer-action-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}
.footer-phone a {
  color: #FFF;
}
.footer-navigation-item {
  list-style: none;
}
.footer-navigation-item a{
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.footer-navigation-item a:hover {
  color: rgba(255, 255, 255, 0.6);
}
.footer-navigation-item a:active {
  color: rgba(255, 255, 255, 0.3);
}









